@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Subrayada:wght@400;700&display=swap');

@theme {
  --font-montserrat: "Montserrat Subrayada", sans-serif;

}

@keyframes appear {
  0% {
    opacity: 0.3;
    scale: 0.4;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearLeft {
  0% {
    opacity: 0.3;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animation-block {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.animation-img {
  animation: appearLeft 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.navbar {
  animation: appearLeft 200ms ease-in-out;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */